extends layout

block content
 
  .welcome.text-center.container
    p#welcome-top
     
      if (method==='PUT')
        | Editar Anuncio
      else
        | Publicar Anuncio
    .hr-line
  nav.navbar.navbar-default.navbar-count
    .container
      ul.top-menu
        li
          a(href='/acount')  Mis anuncios en encuentra tu camino
        li
          a(href='about.html')  Datos del perfil
      if user
        h3 HOLA #{user.username} !
     
      else
        h3 You are NOT logged!
 
  h1.font-categories.container Retiros
  .container.well
      form.edit-retiro(action= action ? action : '/retiros' method= method ? method : 'POST' enctype="multipart/form-data")
        .container
          .col-sm-8        
        .row
            br
            fieldset.form-group.col-sm-2
              label Imagen
              input(type="file", name="image_item" id="image_item" )   
              .img-picker
            
            //- fieldset.form-group.col-sm-2
            //-           .img-picker
            //- fieldset.form-group.col-sm-2
            //-           .img-picker
            //- fieldset.form-group.col-sm-2
            //-           .img-picker
            //- fieldset.form-group.col-sm-2
            //-           .img-picker
        .row
          .col-xs-12.col-md-4
            
            fieldset.form-group
              label(for='recipetitle') Titulo
              | 
              input#recipetitle.form-control(rows='1', maxlength='30', name="title", required ,  value= !retiros ? " " : retiros.title ) 
          .col-xs-12.col-md-4
            fieldset.form-group
              label(for='recipe-editor-ingredients') Camino
              |
              select.form-control(name="road", id="selectPath" )
                each val in ['Selecciona...', 'Yoga', 'Ayurveda', 'Yoga y Ayurveda']
                  -
                    let selectRoad = !retiros ? "" : retiros.road
                  if (selectRoad === (val) )
                    option(selected="selected")= selectRoad
                  else
                    option= val

          //- .col-xs-12.col-md-3
          //-   fieldset.form-group
          //-     label(for='recipe-editor-ingredients') Categoria de anuncio
          //-     |
          //-     select.form-control(name="category")
          //-       each val in ['Selecciona...', 'Retiros', 'Formaciones', 'Talleres', 'Conferencias', 'Maestros espirituales']
          //-         option= val
          .col-xs-12.col-md-4
            fieldset.form-group
              label(for='recipe-editor-ingredients') Comunidad aut&oacute;noma
              |
              - var cities = ["Selecciona...", "Andalucía", "Baleares", "Canarias", "Cantabria", "Cataluña", "Galicia", "La Rioja", "Navarra", "Aragón", "Castilla-La Mancha", "Castilla y León", "Comunidad Valenciana", "Extremadura", "Comunidad Valenciana", "Madrid", "Región de Murcia"];
              select.form-control(name="comunity", id="selectComunity")
                each val in cities
                  -
                    let selectComunity = !retiros ? "" : retiros.comunity
                  if (selectComunity === (val) )
                    option(selected="selected")= selectComunity
                  else
                    option= val
          .col-xs-12.col-md-12
            fieldset.form-group
              label(for='recipetitle') Localidad
              |
              input#address.form-control(rows='1',type="textbox", maxlength='30', name="localitation" value= !retiros ? " " : retiros.localitation  )
              input#submit(type='button', value='Buscar')
               
              #map
              input#long(name="long",hidden,  value= !retiros ? " " : retiros.long  )
              input#lat(name="lat",hidden,  value= !retiros ? " " : retiros.lat  )
            
               
          .col-xs-12.col-md-2
            fieldset.form-group
              label(for='recipetitle') Fecha Inicio
              |
              input.tcal.form-control(name="startDate", value= !retiros ? " " : retiros.startDate  )
          .col-xs-12.col-md-1
            p.label-time Hora
          .col-xs-12.col-md-1.label-nums
            fieldset.form-group
              br
              |
              select.form-control(name="timeHourStart" id="selectHourStart")
                each val in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"]

                  if (retiros === parseInt(val) )
                    option(selected="selected")= val
                  else
                    option= val
          .col-xs-12.col-md-1
            p.label-time Minuto
          .col-xs-12.col-md-1.label-nums
            fieldset.form-group
              br
              |
              select.form-control(name="timeMinuteStart", id="selectMinuteStart")
                each val in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59"]
                  if (retiros === parseInt(val) )
                    option(selected="selected")= val
                  else
                    option= val
          .col-xs-12.col-md-2
            fieldset.form-group
              label(for='recipetitle') Fecha Fin
              |
              input.tcal.form-control(name="endDate" value= !retiros ? " " : retiros.endDate )
          .col-xs-12.col-md-1
            p Hora
          .col-xs-12.col-md-1
            fieldset.form-group
              br
              |
              select.form-control(name="timeHourEnd", id="selectHourEnd")
                each val in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"]
                  if (retiros === parseInt(val) )
                    option(selected="selected")= val
                  else
                    option= val
          .col-xs-12.col-md-1
            p Minuto
          .col-xs-12.col-md-1
            fieldset.form-group
              br
              |
              select.form-control(name="timeMinuteEnd", id="selectMinuteEnd")
                each val in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59"]
                  if (retiros === parseInt(val) )
                    option(selected="selected")= val
                  else
                    option= val
          .col-xs-12.col-md-12
            fieldset.form-group
              label(for='recipe-editor-ingredients') Descripci&oacute;n
              -
                let textDescription = !retiros ? "" : retiros.description
              textarea#recipe-editor-ingredients.form-control(rows='10' name="description")=textDescription 


            fieldset.form-group
              label(for='recipe-editor-directions') Tags
              input#recipe-editor-directions.form-control(rows='3' name="tags" value= !retiros ? " " : retiros.tags  )
            .text-center
             
             if (method=== 'PUT')
              button.btn.btn-success(type='submit' value='Submit') Modificar
             else  
              button.btn.btn-warning(type='submit' value="Submit") Publicar

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/js/main.js')       
  //-script(src='/js/imageLoad.js')
  script(src='/js/maps.js')
  script(src='/js/imageLoad.js')
  script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD2CtWqsM0k23XnQMwJQXASOmNEkE8IAgM&callback=initMap')


  //- .container          
  //-     each retiro in retiros
  //-         h2 Categoria: #{retiro.category}
  //-         h3 Titulo del evento: #{retiro.title}
  //-         p Localidad: #{retiro.localitation}
  //-         p Comunidad autónoma: #{retiro.comunity}
  //-         p Publicación: #{retiro.createEvent} 
  //-         p Hora inicio: #{retiro.timeHourStart}:#{retiro.timeMinuteStart}
  //-         p Descripción: #{retiro.description} 
  //-         p Tags: #{retiro.tags} 

