extends layout

block content
  .welcome.text-center.container
    p.welcome-top
     | Mi cuenta
    .hr-line
  nav.navbar.navbar-default.navbar-count
    .container
      ul.top-menu
        li
          a(href='/acount')  Mis anuncios en encuentra tu camino
          if user
            h3 HOLA #{user.username} !
     
          else
            h3 You are NOT logged!
        //- li
        //-   a(href='about.html')  Datos del perfil
  .container.demo.size-font-categories
    #accordion.panel-group(role='tablist', aria-multiselectable='')
      .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h2.panel-title
            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
              i.more-less.glyphicon.glyphicon-plus
              |  Retiros
        #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
          .panel-body
            aside.text-right
              a(href='/acount/empty')
                i.glyphicon.glyphicon-plus-sign
                |  Crear anuncio
            .row.cont-body

              .col-sm-6.col-md-12
                each retiro in retiros
                  .thumbnail.offer.margins.col-sm-6.col-md-3.retiro
                    img(src=retiro.imageUrl, width='100%')
                    .caption
                      div.container.size-mods
                          h2.text-center 
                          |Titulo: #{retiro.title}
                          p
                          i.glyphicon.glyphicon-calendar
                          | Fecha Public: #{retiro.createdEvent} 
                          p
                          i.glyphicon.glyphicon-time
                          | Hora Publi: #{retiro.hourEvent}         
                          hr
                      div.size-mods
                          a.btn.remove(type='button' data-id=`${retiro._id}`)
                              i.remove.glyphicon.glyphicon-trash
                              |  Eliminar
                          p.size-mod
                          a.sizes(href='/retiros/edited/'+ retiro.id) 
                            |  Modificar
                          p.size-mod.text-center
                          a.sizes(href='#success', data-toggle='modal')  
                              i.glyphicon.glyphicon-share-alt
                              |  Compartir
                  #success.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header.modal-header-success
                          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                          h1
                            i.i-modal.glyphicon.glyphicon-thumbs-up
                            |  Quieres compartir: #{retiro.title} 
                        .modal-body
                          .containear.margins-modal
                            br
                            br
                            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                            ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5715866801509976', data-ad-slot='6618380844', data-ad-format='auto')
                            script.
                              (adsbygoogle = window.adsbygoogle || []).push({});
                            br
                            br
                            #buttons-modal
                              .facebook.button-modal
                                i.icon-modal
                                  i.icon-facebook
                                .slide-modal
                                  p.p-modal  facebook
                                iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Freference%2Fplugins%2Flike&send=false&layout=button_count&width=80&show_faces=false&font&colorscheme=light&action=like&height=20&appId=568581339861351', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:80px; height:20px;', allowtransparency='true')
                              .twitter.button-modal
                                i.icon-modal
                                  i.icon-twitter
                                .slide-modal
                                  p.p-modal  twitter
                                |  
                                a.twitter-share-button(href='https://twitter.com/share', data-via='mariuCSS') Tweet
                                script.
                                  !function(d,s,id){
                                  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                                  if(!d.getElementById(id)){
                                  js=d.createElement(s);
                                  js.id=id;
                                  js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                              .google.button-modal
                                i.icon-modal
                                  i.icon-modal-google-plus
                                .slide-modal
                                  p.p-modal  google+
                                .g-plusone(data-size='medium')
                                script(type='text/javascript').
                                  (function() {
                                  var po = document.createElement('script');
                                  po.type = 'text/javascript';
                                  po.async = true;
                                  po.src = 'https://apis.google.com/js/plusone.js';
                                  var s = document.getElementsByTagName('script')[0];
                                  s.parentNode.insertBefore(po, s);
                                  }
                                  )();

                            .modal-footer
                              button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
                        
  
       

      .panel.panel-default
        #headingTwo.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              i.more-less.glyphicon.glyphicon-plus
              |  Formaciones
        #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .panel-body
            aside.text-right
              a(href='/retiros/add')
                i.glyphicon.glyphicon-plus-sign
                |  Crear anuncio
      .panel.panel-default
        #headingThree.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              i.more-less.glyphicon.glyphicon-plus
              |  Talleres
        #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
          .panel-body
            aside.text-right
              a(href='/retiros/add')
                i.glyphicon.glyphicon-plus-sign
                |  Crear anuncio
              .container
   
  

          
  br
  br

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/js/accurdion.js')
  script(src='/js/main.js')